*{
	margin: 0;
	padding: 0;
}
.shop__img{
	width: 100%;
	height: 100%;
}
.shop__tittle{
	text-align: center;
	padding: 20px;
}
.shop__title{
	padding: 20px;
}
.shop{
	display: flex;
	justify-content: center;
}
.container{
	width: 1400px;
	margin: 0 auto;
}
.itc-slider{
	width: 500px;
	margin: 0 auto;
}
.header__menu{
	position: absolute;
	z-index: 1;
	background: rgba(230, 190, 92, 0.7);
	width: 150px;
	height: 140px;
	padding: 40px;
	display: none;
	box-shadow: 5px 5px 10px black;
}
.is-active{
	display: block;
}
.btn_menu{
	background: rgba(230, 190, 92, 0.7);
	padding: 7px 15px;
	cursor: pointer;
}
.menu__list{
	list-style: none;
	cursor: pointer;
}
.menu__item:not(:last-child){
	margin-bottom: 10px;

}
.list__item{
	cursor: pointer;
}
.shop__btn{
	cursor: pointer;
	padding: 7px 15px;
	margin: 20px;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header{
	background: rgba(230, 190, 92, 0.7);
	padding: 20px 0;
	border-bottom: 3px solid black;
	box-shadow: 0 10px 10px gray;
}
.logo{
	font-size: 50px;
	text-shadow: 3px 3px 5px gray;
}
.nav__list{
	display: flex;
	list-style: none;
}
.nav__item:not(:last-child){
	margin-right: 65px;

}
.nav__link{
	text-decoration: none;
	color: black;
	font-size: 22px;
}
.footer{
	background: rgba(230, 190, 92, 0.7);
	padding: 35px 0;
	border-top: 3px solid black;
	box-shadow: 0 -10px 10px gray;
}
.theme__light{
	width: 20px;
	height: 20px;
	background: white;
	border-radius: 50%;
	cursor: pointer;
}
.theme__dark{
	width: 20px;
	height: 20px;
	background: gray;
	border-radius: 50%;
	cursor: pointer;
}
.theme__list{
	display: flex;
	list-style: none;
	gap: 7px;
	margin-top: 5px;
}
.theme__light:active
{
	transform: scale(0.8);
}
.theme__dark:active
{
	transform: scale(0.8);
}
.burger__line{
	width: 50px;
	height: 5px;
	background: black;
	margin: 10px;
}
.burger{
	display: none;
}

@media (max-width: 650px)
{
	.container
	{
		width: 600px;
	}
	.nav__list
	{
		display: none;
	}
	.burger
	{
		display: block;
	}


}





